<!DOCTYPE html>
<html>
  <head>
    <title>BukFromZeroToOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-beautify@1.13.5/js/lib/beautify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-beautify@1.13.5/js/lib/beautify-html.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body>
    <main class="flex h-screen">
    <div class="w-1/5 bg-blue-800 p-8 text-white">
      <!-- Instrucciones -->
      <%= yield :instructions %>
    </div>
    <div class="w-2/5 bg-gray-300">
      <!-- Juego -->
      <%= yield :blockly %>
    </div>
    <div class="w-2/5 p-8 bg-black">
      <!-- Juego -->
      <%= yield :game %>
    </div>
    </main>
  </body>
</html>
