<!DOCTYPE html>
<html>
  <head>
    <title>BukFromZeroToOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-beautify@1.13.5/js/lib/beautify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-beautify@1.13.5/js/lib/beautify-html.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/eslint-linter-browserify/linter.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  </head>

  <body>
    <main class="flex h-screen">
    <div class="w-1/5 bg-blue-800 p-8 text-white">
      <!-- Instrucciones -->
      <%= yield :instructions %>
    </div>
    <div class="w-2/5 bg-gray-300">
      <!-- Juego -->
      <%= yield :blockly %>
    </div>
    <div class="w-2/5 p-8 bg-black">
      <!-- Juego -->
      <%= yield :game %>
    </div>
    </main>
    <script>
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDvXvdvVtDWCHRP92n4WbUOLdTxLELakG0",
        authDomain: "buk-game.firebaseapp.com",
        projectId: "buk-game",
        storageBucket: "buk-game.appspot.com",
        messagingSenderId: "910910633042",
        appId: "1:910910633042:web:c062e50c89c894c95d5b8b",
        measurementId: "G-37ZSM421GT",
        databaseURL: "https://buk-game-default-rtdb.firebaseio.com/"
      };

      // Initialize Firebase
      const app = firebase.initializeApp(firebaseConfig);
      const db = firebase.firestore();
    </script>
  </body>
</html>
